.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

input,
textarea {
    padding: 1vw;
    margin: 0;
    display: flex;
    background-color: transparent;
    font-family: inter;
    color: rgb(255, 255, 255);
    border: 0.1vw solid rgb(177, 4, 229);
    border-radius: 2vw;
}

input::placeholder,
textarea::placeholder {
    color: rgb(162, 129, 194);
    opacity: 0.5;
    font-family: Inter;
}

.ctt-container {
    display: flex;
    flex-direction: column;
    height: 90dvh;
    width: 50vw;
    background-color: #191919;
    border-radius: 2vw;
    justify-content: center;
    align-items: center;
    margin: 12dvh 0;
    box-shadow: 0.1vh 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
}

.tit {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.tit h1 {
    font-size: 4vw;
    font-family: Montserrat;
    margin: 3vh 0 0 0;
}

.tit p {
    font-size: 1vw;
    font-family: Inter;
}

.txt-area {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 95%;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.eml-phn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2vw;
    height: 12%;
    width: 90%;
}

.eml-phn input {
    width: 100%;
    height: 100%;
}

.nm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 90%;
}

.nm input {
    width: 100%;
    height: 100%;
}

.msg-sbmt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 0 0 0;
    gap: 1.2vw;
    height: 70%;
    width: 90%;
}

.msg-sbmt textarea {
    border-radius: 2vw;
    width: 100%;
    height: 80%;
    padding: 1vw;
}

.msg-sbmt #btn-sb {
    width: 22.5%;
    height: 15%;
    color: rgb(255, 255, 255);
    background-color: rgb(177, 4, 229);
    border-radius: 2vw;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    cursor: pointer;
    padding: 0;
}

.txt-area-mbl {
    display: none;
    flex-direction: column;
    height: 85%;
    width: 95%;
}

@media only screen and (max-width:1080px) {

    .ctt-container {
        width: 70vw;
        margin: 10dvh 0;
    }


    .tit h1 {
        font-size: 5vw;
    }

    .tit p {
        font-size: 2vw;
    }

    .txt-area {
        width: 100%;
        height: 90%;
    }

    .eml-phn,
    .nm {
        height: 10%;
    }

    .msg-sbmt {
        height: 80%;
    }

    .msg-sbmt textarea {
        height: 80%;
    }

    .msg-sbmt #btn-sb {
        margin: 1vh 0 0 0;
        width: 20%;
        height: 12%;
        font-size: 1.5vw;
    }
}

@media only screen and (max-width:650px) {
    .main {
        height: 80dvh;
    }

    .ctt-container {
        width: 70vw;
        height: 60dvh;
        margin: 0;
    }

    input::placeholder,
    textarea::placeholder {
        font-size: 2vw;
    }

    .tit {
        height: 30%;
    }

    .tit h1 {
        margin: 0;
    }

    .tit p {
        width: 90%;
        text-align: center;
        text-wrap: wrap;
        margin: 1vw 2vw 1vw 2vw;
    }

    .txt-area {
        display: none;
    }

    .txt-area-mbl {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .eml-phn {
        display: flex;
        flex-direction: column;
        height: 20%;
        gap: 1vh;
    }

    .eml-phn input {
        height: 100%;
    }

    .nm {
        height: 10%;
        gap: 0;
    }

    .msg-sbmt {
        margin: 0;
        justify-content: flex-start;
        align-items: center;
    }

    .msg-sbmt textarea {
        border-radius: 2vw;
        width: 100%;
        height: 70%;
        padding: 1vw;
    }

    .msg-sbmt #btn-sb {
        font-size: 2.5vw;
        margin: 1vh 0 0 0;
    }
}
