.main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    display: block;
}

.text-container {
    width: 45%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 5vw;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
}

.text p {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.3vw;
    color: rgb(255, 255, 255);
    font-size: 0.7vw;
    margin: 0;
}

.text h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 6.8vw;
    margin-bottom: 0.3vh;
}

.textinho {
    align-items: left;
    overflow: hidden;
}

.textinho p {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    margin-right: 1.5vw;
}

.btn-sb {
    margin-top: 2vh;
    width: 10vw;
    height: 3vw;
    color: rgb(177, 4, 229);
    background-color: transparent;
    border: 0.2vw solid rgb(177, 4, 229);
    border-radius: 1.25vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
}

.btn-sb:hover {
    background-color: rgb(177, 4, 229);
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
}

.faixa {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 8vh 0;
}

.faixa img {
    width: 100%;
    height: 17vh;
    display: block;
}

.cards-container {
    width: 98%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    border-radius: 1.2vw;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    height: 60%;
    justify-content: center;
    align-items: stretch;
    margin: 2vw;
    gap: 2.25vw;
}

.card {
    width: 17vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #1d1b1e;
    border-radius: 0.3vw;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.3);

}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover .card-txt h2 {
    color: rgb(177, 4, 229);
}

/* .card:hover .card-img {
    background: linear-gradient(to bottom, #2a2a2a, #322642);
    transition: background-color 0.2s ease-in-out;
}
 */

.card-img {
    display: flex;
    width: 100%;
    height: 65%;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    border-radius: 0.3vw;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    margin: 1.65vw 1.5vw 1.5vw 1vw;
}

.card-txt h2 {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 550;
    margin: 0;
    text-wrap: nowrap;
}

.card-txt p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.1vw;
    font-size: 1.25vw;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
}

.tit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
    padding: 0;
}

.tit h1 {
    color: white;
    font-family: Inter;
    font-size: 2vw;
}

.categories-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.category {
    display: flex;
    width: 28vw;
    height: 15vw;
    background-color: #292929;
    border-radius: 0.8vw;
    overflow: hidden;
}

.category:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.category-img {
    width: 65%;
    height: 100%;
    overflow: hidden;
}

.category-img img {
    width: 100%;
    height: 100%;
}

.category-txt {
    width: 45%;
    margin: 1.5vw;
    overflow: hidden;
}

.category-txt h1 {
    font-size: 3vw;
    font-family: 'Montserrat';
    color: white;
    text-wrap: nowrap;
    margin: 0;
}

.category-txt p {
    color: white;
    font-size: 0.8vw;
    font-family: 'Inter';
    margin-top: 1vw;
}

@media only screen and (max-width:1500px) {
    .main {
        width: 100%;
        height: 90%;
    }
}

@media only screen and (max-width:1250px) {

    .main {
        width: 100%;
        height: 80%;
        padding: 0;
    }

    .banner {
        height: 80%;
    }

    .faixa {
        margin-top: 0;
        height: 10%;
    }

    .faixa img {
        height: 70%;
    }
}

@media only screen and (max-width:1050px) {

    /* Telas pequenas: */
    .main {
        width: 100%;
        height: 70%;

        padding: 0;
    }

    .banner img {
        width: 100%;
        height: 95%;
    }

    .text p {
        display: none;
    }

    .cards {
        height: 60%;
    }

    .faixa {
        height: 8%;
    }

    .faixa img {
        height: 70%;
    }

}

@media only screen and (max-width:875px) {

    /* Tablets: */
    .main {
        width: 100%;
        height: 60%;

        padding: 0;
    }

    .textinho p {
        font-size: 1.25vw;
    }

    .card-txt .avst {
        font-size: 1.13vw;
    }

    .category-txt p {
        font-size: 1.2vw;
    }

}


@media only screen and (max-width:650px) {

    /* Celulares */

    .main {
        width: 100%;
        height: 40%;
        padding: 0;
    }

    .banner img {
        height: 100%;
    }

    .text-container {
        height: 40%;
    }

    .card {
        width: 25vw;
    }

    .card-txt {
        margin: 1.25vw;
    }

    .card-txt h2 {
        font-size: 1.35vw;
    }

    .card-txt p {
        font-size: 1.85vw;
    }

    .cards {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3vw;
    }

    .faixa {
        height: 4%;
    }

    .tit {
        margin: 4vw;
    }

    .hidden-mb {
        display: none;
    }
}

@media only screen and (max-width:450px) {

    .banner img {
        height: 80%;
    }
}