.main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    display: block;
}

.text-container {
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 5vw;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
}

.text p {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.3vw;
    color: rgb(255, 255, 255);
    font-size: 0.7vw;
    margin: 0;
}

.text h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 6.8vw;
    margin-bottom: 0.3vh;
}

.textinho {
    align-items: left;
    overflow: hidden;
}

.textinho p {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    margin-right: 1.5vw;
}

.btn-sb {
    margin-top: 2vh;
    width: 10vw;
    height: 3vw;
    color: rgb(177, 4, 229);
    background-color: transparent;
    border: 0.2vw solid rgb(177, 4, 229);
    border-radius: 1.25vw;
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    cursor: pointer;
}

.btn-sb:hover {
    background-color: rgb(177, 4, 229);
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
}

.faixa {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 8vh 0;
}

.faixa img {
    width: 100%;
    height: 17vh;
    display: block;
}

.cards-container {
    width: 98%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.3);
    border-radius: 1.2vw;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    height: 60%;
    justify-content: center;
    align-items: stretch;
    margin: 4vw;
    gap: 2vw;
}

.card {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover .card-txt h2 {
    color: rgb(177, 4, 229);
}

.card:hover .card-img {
    background: linear-gradient(to bottom, #2a2a2a, #322642);
    transition: background-color 0.2s ease-in-out;
}


.card-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.3vw;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card-img img {
    width: 100%;
    height: 100%;
}

.card-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.8vh;
    margin-top: 1.5vw;
}

.card-txt h2 {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-weight: 550;
    margin: 0;
    text-wrap: nowrap;
}

.card-txt .avst {
    margin: 0.3vw 0;
    font-size: 0.7vw;
    font-weight: 200;
}

.card-txt p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 0.1vw;
    font-size: 1vw;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
}

.tit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    padding: 0;
}

.tit h1 {
    color: white;
    font-family: Poppins;
    font-size: 4vw;
}

@media only screen and (max-width:1500px) {
    .main {
        width: 100%;
        height: 90%;
    }
}

@media only screen and (max-width:1250px) {

    .main {
        width: 100%;
        height: 80%;
        padding: 0;
    }

    .banner img {
        width: 100%;
        height: 90%;
    }

    .faixa {
        margin-top: 0;
    }
}

@media only screen and (max-width:1050px) {

    /* Telas pequenas: */
    .main {
        width: 100%;
        height: 70%;

        padding: 0;
    }

    .banner img {
        width: 100%;
        height: 75%;
    }

    .text p {
        display: none;
    }

    .cards {
        height: 60%;
    }
}

@media only screen and (max-width:875px) {

    /* Tablets: */
    .main {
        width: 100%;
        height: 60%;

        padding: 0;
    }

    .textinho p {
        font-size: 1.5vw;
    }

}


@media only screen and (max-width:650px) {

    /* Celulares */

    .main {
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .text-container {
        height: 50%;
    }

    .banner img {
        width: 100%;
        height: 55%;
    }

    .card {
        width: 20vw;
    }

    .cards {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw;
    }

}