.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    margin: 10vh 0 7vh 0;
}

.texto h1 {
    font-size: 4vw;
    font-family: montserrat;
    color: white;
    margin: 0;
}

.texto p {
    font-size: 1.25vw;
    font-family: inter;
    color: white;
    margin: 0;
}

.mapa {
    width: 60vw;
    height: 60vw;
    justify-content: center;
    align-items: center;
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

.textinho {
    font-size: 0.7vw;
    font-family: inter;
    color: white;
    margin: 0;
}