.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.produtos {
    width: 95%;
    border-collapse: separate;
    border-spacing: 3vw;
}

.produtos th {
    text-align: center;
}

.produtos td {
    text-align: left;
}

.produto {
    width: 17vw;
    height: auto;
    background-color: #1d1b1e;
    border-radius: 0.3vw;
}

.produto:hover {
    transform: scale(1.08);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.produto:hover .txt p {
    color: rgb(177, 4, 229);
}

.txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vh;
    margin: 1.65vw 1.5vw 1.5vw 1vw;
}

.txt p {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 550;
    margin: 0;
    text-wrap: nowrap;
}

.txt h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.1vw;
    font-size: 1.25vw;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
}

.img {
    display: flex;
    width: 100%;
    height: 65%;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    border-radius: 0.3vw;
}

.img img {
    width: 100%;
    height: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    margin: 15vh 0 4vh 0;
}

.texto h1 {
    font-size: 4vw;
    font-family: montserrat;
    color: white;
    margin: 0;
}

.texto p {
    font-size: 1.25vw;
    font-family: inter;
    color: white;
    margin: 0;
}

.cat {
    display: flex;
    width: 100%;
    margin: 0;
}

.cat .txt h1 {
    font-size: 1.25vw;
    font-family: Inter;
    color: white;
    margin: 0 4.5vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
}