html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #131313;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.menu {
    display: flex;
    gap: 7vw;
    width: 100%;
    height: 9%;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 10;
    transition: background 3s ease-in-out;
}

.menu:hover {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0.1));
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.logo img {
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

.login img {
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;

}

.links {
    width: 75%;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 7vw;
    margin: 0;
    padding: 0;
}

.nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1vw;
}

.nav li:hover {
    color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

footer .container {
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: stretch;
    align-items: center;
    gap: 12vw;
    margin: 2vh;
}

footer .container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}

footer .container2 p {
    font-size: 1vw;
    text-align: center;
}

footer hr {
    width: 70%;
    height: 0.02vh;
    background-color: #ffffff;
    margin: 2vh 0;
}

.section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: left;
    margin-bottom: 1vh;
}

.section h2 {
    text-align: left;
    font-size: 2vw;
    margin: 2vh 0 0 0;
}

.section ul,
a {
    padding: 0;
    font-size: 1vw;
    color: white;
}

.section a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.section p {
    width: 100%;
    font-size: 1vw;
}

.faixa {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0 8vh 0;
}

.faixa img {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width:1250px) {
    .faixa {
        margin-top: 0;
    }

    .faixa img {
        height: 70%;
    }
}

@media only screen and (max-width:950px) {

    .menu {
        width: 100%;
        height: 5%;
    }

    .nav a {
        font-size: 1.5vw;
    }

    footer {
        height: 29vh;
    }

    footer .container {
        width: 80%;
        height: 40%;
        gap: 6vw;
        place-items: center;
        margin-top: 3vh;
    }

    footer .container2 p {
        font-size: 1.5vw;
        text-align: center;
    }

    footer hr {
        margin: 1vh;
    }

    .section {
        height: 100%;
        margin: 0;
    }

    .section p {
        font-size: 1vw;
    }

    .section h2 {
        font-size: 2.25vw;
        margin: 0;
    }

    .section ul,
    a {
        font-size: 1vw;
    }
}

@media only screen and (max-width:650px) {

    .menu {
        width: 100%;
        height: 6%;
    }

    .nav a {
        font-size: 2vw;
    }

    .logo img {
        width: 6vw;
    }

    footer {
        height: 20vh;
    }

    footer .container {
        width: 80%;
        gap: 6vw;
        place-items: center;
    }

    footer .container2 p {
        font-size: 1.5vw;
        text-align: center;
    }

    footer hr {
        margin: 1vh;
    }

    .section {
        height: 100%;
    }

    .section p {
        font-size: 1.5vw;
    }

    .section h2 {
        font-size: 2.5vw;
        margin: 0;
    }

    .section ul,
    a {
        font-size: 1.5vw;
    }
}