html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #141414;
}

.menu {
    display: flex;
    gap: 10%;
    width: 100%;
    height: 9%;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 10;
    transition: background 3s ease-in-out;
}

.menu:hover {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0.1));
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.logo img {
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;
}

.links {
    width: 75%;
    height: 5vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 7vw;
    margin: 0;
    padding: 0;
}

.nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1vw;
}

.nav li:hover {
    color: #ffffff;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;
}

@media only screen and (max-width:900px) {

    .menu {
        width: 100%;
        height: 5%;
    }

    .nav a {
        font-size: 1.5vw;
    }
}